{% set title = title|default('Home') %}
{% set host = app.request.getSchemeAndHttpHost() %}
{% set route = app.request.attributes.get('_route') %}
{% if route is not empty %}{% set full_url = url(route, app.request.attributes.get('_route_params')) %}{% endif %}
{% set page_image = page_image|default(asset('bundles/app/images/logo.png')) %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="keywords" content="{{ block('meta_keywords') }}" />
        <meta name="description" content="{{ block('meta_description') }}" />
        <meta name="author" content="">

        {% block facebook_meta %}
            <meta property="og:site_name" content="World Compassion Fellowship" />
            <meta property="og:title" content="{{ title }}" />
            <meta property="og:url" content="{{ full_url }}" />
            {#<meta property="og:image" content="{{ host ~ page_image|apply_filter('facebook_thumb') }}" />#}
            <meta property="og:type" content="website" />
        {% endblock %}

        {% block twitter_meta %}
            <meta name="twitter:site" content="WCFellowshipOrg" />
            <meta name="twitter:card" content="summary" />
            <meta name="twitter:title" content="{{ title }}" />
            <meta name="twitter:url" content="{{ full_url }}" />
            <meta name="twitter:description" content="{{ block('meta_description') }}" />
            <meta name="twitter:image" content="{{ host ~ page_image }}" />
        {% endblock %}
    {% endblock %}

    <title>{{ title }}</title>

    {% block head_scripts %}
        <!-- IE8 support for HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/volleyface/font-awesome/js/html5shiv.js') }}"></script>
        <script src="{{ asset('bundles/volleyface/font-awesome/js/respond.min.js') }}"></script>
        <![endif]-->
    {% endblock %}

    <link href="{{ asset('bundles/volleyface/images/favicon.png') }}" rel="shortcut icon">

    <!-- Bootstrap Core CSS -->
    {% block styles %}
        <link href="{{ asset('bundles/volleyface/css/bootstrap.css') }}" rel="stylesheet">
        {#<link href="{{ asset('bundles/volleyface/css/freelancer.css') }}" rel="stylesheet" type="text/css">#}
        <link href="{{ asset('bundles/volleyface/css/modern-business.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/volleyface/css/styles.css') }}" rel="stylesheet">

        <!--[if lt IE 9]>
        <link href="{{ asset('bundles/volleyface/css/ie.css') }}" rel="stylesheet" type="text/css" />
        <![endif]-->
    {% endblock %}


    <!-- Fonts -->
    <link href="{{ asset('bundles/volleyface/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" href="index.html">Modern Business</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">1 тур <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path("volley_face_tournament",{'season_id': 1, 'tournament_id': 1}) }}">Чоловіки</a>
                        </li>
                        <li><a href="portfolio-2-col.html">Жінки</a>
                        </li>
                        <li><a href="portfolio-3-col.html">Ветерани</a>
                        </li>
                    </ul>
                </li>
                <li><a href="about.html">2 тур</a>
                </li>
                <li><a href="about.html">3 тур</a>
                </li>
                <li><a href="about.html">About</a>
                </li>
                <li><a href="services.html">Services</a>
                </li>
                <li><a href="contact.php">Contact</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="portfolio-1-col.html">1 Column Portfolio</a>
                        </li>
                        <li><a href="portfolio-2-col.html">2 Column Portfolio</a>
                        </li>
                        <li><a href="portfolio-3-col.html">3 Column Portfolio</a>
                        </li>
                        <li><a href="portfolio-4-col.html">4 Column Portfolio</a>
                        </li>
                        <li><a href="portfolio-item.html">Single Portfolio Item</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog-home-1.html">Blog Home 1</a>
                        </li>
                        <li><a href="blog-home-2.html">Blog Home 2</a>
                        </li>
                        <li><a href="blog-post.html">Blog Post</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="full-width.html">Full Width Page</a>
                        </li>
                        <li><a href="sidebar.html">Sidebar Page</a>
                        </li>
                        <li><a href="faq.html">FAQ</a>
                        </li>
                        <li><a href="404.html">404</a>
                        </li>
                        <li><a href="pricing.html">Pricing Table</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('/uploads/images/slide_1.jpg');"></div>
            <div class="carousel-caption">
                <h1>Церемонія нагородження по закінченню 1-го туру відкритого чемпіонату Черкаської області з пляжного волейболу</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/uploads/images/slide_2.jpg');"></div>
            <div class="carousel-caption">
                <h1>Радість призерів чоловічого турніру на пляжі "Живчик"</h1>
            </div>
        </div>
        {#<div class="item">#}
            {#<div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>#}
            {#<div class="carousel-caption">#}
                {#<h1>Additional Layout Options at <a href="http://startbootstrap.com">http://startbootstrap.com</a>#}
                {#</h1>#}
            {#</div>#}
        {#</div>#}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

{% block content %}
{% endblock %}


    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>3481 Melrose Place
                            <br>Beverly Hills, CA 90210</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Freelance</h3>
                        <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2014 - Your Name
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- /.container -->

{% block scripts %}
<script src="{{ asset('bundles/volleyface/js/jquery-1.10.2.js') }}"></script>
<script src="{{ asset('bundles/volleyface/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/volleyface/js/modern-business.js') }}"></script>
{% endblock %}

</body>
</html>